<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <style>a {text-decoration:none;}</style>
    <link rel="shortcut icon" href="favicon.ico" />
    <link rel="icon" href="favicon.gif" type="image/gif" />
</head>
<body>
    <table>
        <tr>
            <td>
                <a href="project_add.pl">New</a>
            </td>
        </tr>
    </table>
    <hr />
    <form method="GET">
        <table>
            <tr>
                <td>
                    <span>项目名称</span>
                </td>
                <td>
                    <input type="text" name="name" id="search_text" value="<TMPL_VAR NAME="name" ESCAPE=HTML>" />
                </td>
                <td>
                    <span>是否关闭</span>
                </td>
                <td>
                    <select name="closed" id="closed">
                        <option value="-1">--</option>
                        <TMPL_LOOP NAME="closedloop">
                            <option value="<TMPL_VAR NAME="value">" <TMPL_IF NAME="selected">selected="selected"</TMPL_IF>><TMPL_VAR NAME="name"></option>
                        </TMPL_LOOP>
                    </select>
                </td>
                <td>
                    <input type="submit" value="搜索" id="search_button" />
                </td>
                <td>
                    <input type="reset" value="重置" />
                </td>
            </tr>
        </table>
    </form>
    <hr />
    <table border=1 style="border-collapse:collapse;width:100%;">
        <tr>
            <th>项目</th>
            <th>kick_off</th>
            <th>式样fix</th>
            <th>开发</th>
            <th>sh_cr</th>
            <th>jp_cr</th>
            <th>jp_qa</th>
            <th>发布日期</th>
            <th>状态</th>
            <th>理论状态</th>
            <th>开发者</th>
            <th>已关闭</th>
        </tr>
        <TMPL_LOOP NAME="studentloop">
        <tr>    
            <td style="width:150px;overflow:hidden;">
                <a href="project_view.pl?id=<TMPL_VAR NAME="id">"><TMPL_VAR ESCAPE=HTML NAME="name"></a>
            </td>
            <td <TMPL_IF NAME="high_light_kick_off">style="background-color:yellow;"</TMPL_IF>>
                <TMPL_VAR NAME="kick_off">
            </td>
            <td <TMPL_IF NAME="high_light_style_fix">style="background-color:yellow;"</TMPL_IF>>
                <TMPL_VAR NAME="style_fix">
            </td>
            <td <TMPL_IF NAME="high_light_development">style="background-color:yellow;"</TMPL_IF>>
                <TMPL_VAR NAME="development">
            </td>
            <td <TMPL_IF NAME="high_light_codereview_sh">style="background-color:yellow;"</TMPL_IF>>
                <TMPL_VAR NAME="codereview_sh">
            </td>
            <td <TMPL_IF NAME="high_light_codereview_jp">style="background-color:yellow;"</TMPL_IF>>
                <TMPL_VAR NAME="codereview_jp">
            </td>
            <td <TMPL_IF NAME="high_light_qa_jp">style="background-color:yellow;"</TMPL_IF>>
                <TMPL_VAR NAME="qa_jp">
            </td>
            <td>
                <TMPL_VAR NAME="date_to_release">
            </td>
            <td>
                <TMPL_VAR NAME="status">
            </td>
            <td>
                <TMPL_VAR NAME="logic_status">
            </td>
            <td>
                <TMPL_VAR NAME="developers">
            </td>
            <td>
                <TMPL_IF NAME="closed">是<TMPL_ELSE>否</TMPL_IF>
            </td>
        </tr>
        </TMPL_LOOP>
        <TMPL_IF NAME="page">
        <tr>
            <td colspan="2">
                <TMPL_INCLUDE NAME="paginator.tmpl">
            </td>
        </tr>
        </TMPL_IF>

        <TMPL_INCLUDE NAME="../footer.tmpl">
    </table>
</body>
