<TMPL_VAR NAME="pageleft">
<TMPL_LOOP NAME="pageloop">
    <TMPL_IF NAME="lone"><span><TMPL_VAR NAME="lone"></span></TMPL_IF>
    <TMPL_IF NAME="link"><span><a href="<TMPL_VAR NAME="href">"><TMPL_VAR NAME="link"></a></span></TMPL_IF>
</TMPL_LOOP>
<TMPL_VAR NAME="pageright">
