<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
</head>
<body>
<TMPL_IF NAME="message">
    <TMPL_VAR NAME="message">
    <hr />
</TMPL_IF>

<form method="POST">
<table>
    <tr>
        <td>密码</td>
        <td>
            <input type="text" name="psw" value="<TMPL_VAR NAME="psw">" />
        </td>
    </tr>
</table>
<input type="submit" value="提交" />
</form>
</body>
